/* static/css/styles.css */
:root {
    --black: #000000ff;
    --red-cmyk: #e4070eff;
    --beaver: #9f8473ff;
    --jasmine: #ffde83ff;
    --van-dyke: #40332fff;
    --desert-sand: #e2c8b7ff;
    --safety-orange: #f27c1aff;
    --platinum: #dbdbdbff;
    --rust: #af420eff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--platinum);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    padding: 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.navbar-brand p {
    line-height: normal;
    font-size: 30px;
    color: var(--red-cmyk);
    margin: 0;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-nav, .navbar-nav-right {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: var(--red-cmyk);
    padding: 5px 10px;
}

.navbar-toggler {
    display: none;
    background-color: var(--red-cmyk);
    border: none;
    color: var(--platinum);
    font-size: 20px;
    cursor: pointer;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--platinum);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    margin-top: 10px;
    z-index: 1;
    left: 0;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: var(--black);
    display: block;
}

.dropdown-divider {
    height: 1px;
    background-color: var(--beaver);
    margin: 5px 0;
}

@media (max-width: 768px) {
    .navbar-collapse {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav-right {
        flex-direction: column;
        width: 100%;
    }

    .dropdown-toggle {
        display: block;
    }
}

@media (min-width: 769px) {
    .dropdown-toggle {
        display: none;
    }
    
    .dropdown-menu {
        display: none;
    }
}
