/* General styling */
body, html {
    font-family: "KA_LORTKIPANIDZE", sans-serif;
    background-color: #1a1a1a;
    color: #fff2d6;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.index_section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    background-color: #222121;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 5px;
}

/* Links */
#races a,
#classes a,
#spells a {
    color: inherit;
    text-decoration: none;
}

/* Lists */
#races ul,
#classes ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;

    li{
        background-color: #1a1a1a;
        border-radius: 8px;
        margin: 5px;
        padding: 3px;
    }
}


#classes ul{
    height: 130px;
}

/* List items */
#races li,
#classes li {
    margin-bottom: 10px;
}

/* Hover effect for links */
#races a:hover,
#classes a:hover,
#spells a:hover {
    color: #cccccc;
    text-decoration: underline;
}

/* Additional styles for race details */
.race-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.race-details-title {
    text-align: center;
    margin-bottom: 30px;
    color: #fff2d6;
}

.race-details-content .race-detail {
    margin-bottom: 10px;
}

.race-detail-label {
    font-weight: bold;
    color: #fff2d6;
}

.traits-section {
    margin-top: 20px;
}

.traits-title {
    font-weight: bold;
    color: #fff2d6;
}

.trait {
    margin-bottom: 15px;
}

.trait-name {
    font-weight: bold;
    color: #fff2d6;
}

.trait-description {
    color: #fff2d6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .race-details-title {
        font-size: 24px;
    }
}
