<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{{ character.name }} Character Sheet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/charactersheet.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <form class="charsheet">
        <header>
            <section class="charname">
            <label for="charname">Character Name</label>
            <input name="charname" value="{{ character.name }}" />
            </section>
            <section class="misc">
                <ul>
                    <li>
                        <label for="classlevel">Class & Level</label><input name="classlevel" value="{{ character.dnd_class.name }} {{ character.level }}" />
                    </li>
                    <li>
                        <label for="background">Background</label><input name="background" value="{{ character.background }}" />
                    </li>
                    <li>
                        <label for="playername">Player Name</label><input name="playername" value="{{ character.player }}" />
                    </li>
                    <li>
                        <label for="race">Race</label><input name="race" value="{{ character.race }}" />
                    </li>
                    <li>
                        <label for="alignment">Alignment</label><input name="alignment" value="{{ character.alignment }}" />
                    </li>
                    <li>
                        <label for="experiencepoints">Experience Points</label><input name="experiencepoints" value="{{ character.experience_points }}" />
                    </li>
                </ul>
            </section>
        </header>
        <main>
            <section>
                <section class="attributes">
                    <div class="scores">
                        <ul>
                            <li>
                                <div class="score">
                                    <label for="Strengthscore">Strength</label><input name="Strengthscore" value="{{ character.strength }}" />
                                </div>
                                <div class="modifier">
                                    <input name="Strengthmod" value="{{ character.strength_modifier }}" />
                                </div>
                            </li>
                            <li>
                                <div class="score">
                                    <label for="Dexterityscore">Dexterity</label><input name="Dexterityscore" value="{{ character.dexterity }}" />
                                </div>
                                <div class="modifier">
                                    <input name="Dexteritymod" value="{{ character.dexterity_modifier }}" />
                                </div>
                            </li>
                            <li>
                                <div class="score">
                                    <label for="Constitutionscore">Constitution</label><input name="Constitutionscore" value="{{ character.constitution }}" />
                                </div>
                                <div class="modifier">
                                    <input name="Constitutionmod" value="{{ character.constitution_modifier }}" />
                                </div>
                            </li>
                            <li>
                                <div class="score">
                                    <label for="Wisdomscore">Wisdom</label><input name="Wisdomscore" value="{{ character.wisdom }}" />
                                </div>
                                <div class="modifier">
                                    <input name="Wisdommod" value="{{ character.wisdom_modifier }}" />
                                </div>
                            </li>
                            <li>
                                <div class="score">
                                    <label for="Intelligencescore">Intelligence</label><input name="Intelligencescore" value="{{ character.intelligence }}" />
                                </div>
                                <div class="modifier">
                                    <input name="Intelligencemod" value="{{ character.intelligence_modifier }}" />
                                </div>
                            </li>
                            <li>
                                <div class="score">
                                    <label for="Charismascore">Charisma</label><input name="Charismascore" value="{{ character.charisma }}" />
                                </div>
                                <div class="modifier">
                                    <input name="Charismamod" value="{{ character.charisma_modifier }}" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                    <div class="attr-applications">
                    <!-- Inspiration -->
                        <div class="inspiration box">
                            <div class="label-container">
                                <label for="inspiration">Inspiration</label>
                            </div>
                            <input name="inspiration" type="checkbox" {% if character.inspiration %}checked{% endif %} />
                        </div>
                    <!-- Proficiency Bonus -->
                        <div class="proficiencybonus box">
                            <div class="label-container">
                                <label for="proficiencybonus">Proficiency Bonus</label>
                            </div>
                            <input name="proficiencybonus" value="{{ character.proficiency_bonus }}" />
                        </div>
                    <!-- Saving Throws -->
                        <div class="saves list-section box">
                            <ul>
                                <!-- Loop through saving throws -->
                                {% for saving_throw in character.saving_throws.all %}
                                <li>
                                    <label for="{{ saving_throw.name }}-save">{{ saving_throw.name }}</label><input name="{{ saving_throw.name }}-save" value="{{ saving_throw.value }}" type="text" /><input name="{{ saving_throw.name }}-save-prof" type="checkbox" {% if saving_throw.proficient %}checked{% endif %} />
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="label">
                            Saving Throws
                            </div>
                        </div>
                    <!-- Skills -->
                    <div class="skills list-section box">
                        <ul>
                            <!-- Loop through skills -->
                            {% for skill in character.skills.all %}
                            <li>
                                <label for="{{ skill.name }}">{{ skill.name }}</label><input name="{{ skill.name }}" value="{{ skill.value }}" type="text" /><input name="{{ skill.name }}-prof" type="checkbox" {% if skill.proficient %}checked{% endif %} />
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="label">
                            Skills
                        </div>
                    </div>
                    
                    <div class="passive-perception box">
                        <div class="label-container">
                            <label for="passiveperception">Passive Wisdom (Perception)</label>
                        </div>
                        <input name="passiveperception" value="{{ character.passive_perception }}" />
                        </div>
                        <!-- Other Proficiencies and Languages -->
                        <div class="otherprofs box textblock">
                        <label for="otherprofs">Other Proficiencies and Languages</label>
                        <textarea name="otherprofs">{{ character.other_proficiencies }}</textarea>
                    </div>
                </div>
            </section>



            <section class="combat">
                <!-- Armor Class -->
                <div class="armorclass">
                    <div>
                        <label for="ac">Armor Class</label><input name="ac" value="{{ character.armor_class }}" />
                    </div>
                </div>
                <!-- Initiative -->
                <div class="initiative">
                    <div>
                        <label for="initiative">Initiative</label><input name="initiative" value="{{ character.initiative }}" />
                    </div>
                </div>
                <!-- Speed -->
                <div class="speed">
                    <div>
                        <label for="speed">Speed</label><input name="speed" value="{{ character.speed }}" />
                    </div>
                </div>
                <!-- Hit Points -->
                <div class="hp">
                    <div class="regular">
                        <div class="max">
                            <label for="maxhp">Hit Point Maximum</label><input name="maxhp" value="{{ character.max_hit_points }}" />
                        </div>
                        <div class="current">
                            <label for="currenthp">Current Hit Points</label><input name="currenthp" value="{{ character.hit_points }}" />
                        </div>
                    </div>
                    <div class="temporary">
                        <label for="temphp">Temporary Hit Points</label><input name="temphp" value="{{ character.temporary_hit_points }}" />
                    </div>
                </div>
                <!-- Hit Dice -->
                <div class="hitdice">
                    <div>
                        <div class="total">
                            <label for="totalhd">Total Hit Dice</label><input name="totalhd" value="{{ character.hit_dice_total }}" />
                        </div>
                        <div class="remaining">
                            <label for="remaininghd">Remaining Hit Dice</label><input name="remaininghd" value="{{ character.hit_dice_remaining }}" />
                        </div>
                    </div>
                </div>
                <!-- Death Saves -->
                <div class="deathsaves">
                    <div>
                        <div class="label">
                        <label>Death Saves</label>
                        </div>
                        <div class="marks">
                            <div class="deathsuccesses">
                                <label>Successes</label>
                                <div class="bubbles">
                                    <!-- Checkboxes for success marks -->
                                    <input name="deathsuccess1" type="checkbox" {% if character.death_saves_successes >= 1 %}checked{% endif %} />
                                    <input name="deathsuccess2" type="checkbox" {% if character.death_saves_successes >= 2 %}checked{% endif %} />
                                    <input name="deathsuccess3" type="checkbox" {% if character.death_saves_successes == 3 %}checked{% endif %} />
                                </div>
                            </div>
                            <div class="deathfails">
                                <label>Failures</label>
                                <div class="bubbles">
                                    <!-- Checkboxes for failure marks -->
                                    <input name="deathfail1" type="checkbox" {% if character.death_saves_failures >= 1 %}checked{% endif %} />
                                    <input name="deathfail2" type="checkbox" {% if character.death_saves_failures >= 2 %}checked{% endif %} />
                                    <input name="deathfail3" type="checkbox" {% if character.death_saves_failures == 3 %}checked{% endif %} />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="attacksandspellcasting">
                <div>
                    <label>Attacks & Spellcasting</label>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Attack Bonus</th>
                                <th>Damage/Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop through character's attacks and spellcasting -->
                            {% for attack in character.attacks.all %}
                            <tr>
                                <td><input name="atkname{{ forloop.counter }}" type="text" value="{{ attack.name }}" /></td>
                                <td><input name="atkbonus{{ forloop.counter }}" type="text" value="{{ attack.attack_bonus }}" /></td>
                                <td><input name="atkdamage{{ forloop.counter }}" type="text" value="{{ attack.damage_type }}" /></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <textarea>{{ character.attacks_description }}</textarea>
                </div>
            </section>

            <section class="equipment">
                <div>
                    <label>Equipment</label>
                    <div class="money">
                        <ul>
                            <li><label for="cp">cp</label><input name="cp" value="{{ character.cp }}" /></li>
                            <li><label for="sp">sp</label><input name="sp" value="{{ character.sp }}" /></li>
                            <li><label for="ep">ep</label><input name="ep" value="{{ character.ep }}" /></li>
                            <li><label for="gp">gp</label><input name="gp" value="{{ character.gp }}" /></li>
                            <li><label for="pp">pp</label><input name="pp" value="{{ character.pp }}" /></li>
                        </ul>
                    </div>
                    <textarea name="equipment_list">{{ character.equipment_list }}</textarea>
                </div>
            </section>
            <section class="flavor">
                <div class="personality">
                    <label for="personality">Personality</label>
                    <textarea name="personality">{{ character.personality }}</textarea>
                </div>
                <div class="ideals">
                    label for="ideals">Ideals</label>
                    <textarea name="ideals">{{ character.ideals }}</textarea>
                </div>
                <div class="bonds">
                    <label for="bonds">Bonds</label>
                    <textarea name="bonds">{{ character.bonds }}</textarea>
                </div>
                <div class="flaws">
                    <label for="flaws">Flaws</label>
                    <textarea name="flaws">{{ character.flaws }}</textarea>
                </div>
            </section>
            <section class="features">
                <div>
                    <label for="features">Features & Traits</label>
                    <textarea name="features">{{ character.features }}</textarea>
                </div>
            </section>
        </main>
    </form>
</body>
</html>
