<!-- templates/navbar.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="{% url 'home' %}">
                <img src="../static/image/logo.jpg" alt="logo" class="logo_image">
                <p>D&D Enigma</p>
            </a>
        </div>

        <button class="navbar-toggler" id="navbar-toggler">
            <span>&#9776;</span>
        </button>

        <div class="navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">მთავარი</a></li>
                <li class="nav-item"><a class="nav-link" href="#">პერსონაჟები</a></li>
                <li class="nav-item dropdown">
                <li class="nav-item"><a class="nav-link" href="#">რასები</a></li>
                <li class="nav-item"><a class="nav-link" href="#">კლასები</a></li>
                <li class="nav-item"><a class="nav-link" href="#">ნივთები</a></li>
                <li class="nav-item"><a class="nav-link" href="#">უნარები</a></li>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="#">გასვლა</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="#">შესვლა</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <script>
        document.getElementById('navbar-toggler').addEventListener('click', function() {
            var navbarCollapse = document.getElementById('navbar-collapse');
            if (navbarCollapse.style.display === 'block') {
                navbarCollapse.style.display = 'none';
            } else {
                navbarCollapse.style.display = 'block';
            }
        });

        document.getElementById('dropdown-toggle').addEventListener('click', function(event) {
            event.preventDefault();
            var dropdownMenu = document.getElementById('dropdown-menu');
            if (dropdownMenu.style.display === 'block') {
                dropdownMenu.style.display = 'none';
            } else {
                dropdownMenu.style.display = 'block';
            }
        });

        // Hide the dropdown when clicking outside of it
        document.addEventListener('click', function(event) {
            var dropdownMenu = document.getElementById('dropdown-menu');
            var dropdownToggle = document.getElementById('dropdown-toggle');
            if (!dropdownMenu.contains(event.target) && !dropdownToggle.contains(event.target)) {
                dropdownMenu.style.display = 'none';
            }
        });
    </script>
</body>
</html>
