{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}
{{ race.name }} Details
{% endblock %}

{% block content %}
<div class="container race-details-container">
    <h1 class="race-details-title">{{ race.name }} Details</h1>
    <div class="race-details-content">
        <p class="race-detail"><span class="race-detail-label">Description:</span> {{ race.description }}</p>
        <p class="race-detail"><span class="race-detail-label">Age:</span> {{ race.age }}</p>
        <p class="race-detail"><span class="race-detail-label">Size:</span> {{ race.size }}</p>
        <p class="race-detail"><span class="race-detail-label">Speed:</span> {{ race.speed }}</p>
        <p class="race-detail"><span class="race-detail-label">Strength:</span> {{ race.strength }}</p>
        <p class="race-detail"><span class="race-detail-label">Dexterity:</span> {{ race.dexterity }}</p>
        <p class="race-detail"><span class="race-detail-label">Constitution:</span> {{ race.constitution }}</p>
        <p class="race-detail"><span class="race-detail-label">Intelligence:</span> {{ race.intelligence }}</p>
        <p class="race-detail"><span class="race-detail-label">Wisdom:</span> {{ race.wisdom }}</p>
        <p class="race-detail"><span class="race-detail-label">Charisma:</span> {{ race.charisma }}</p>
        
        <!-- Displaying ManyToManyField data -->
        <div class="traits-section">
            <p class="traits-title">Traits:</p>
            {% for trait in race.traits.all %}
                {% if not trait.default and trait.name %}
                    <div class="trait">
                        <p class="trait-name">{{ trait.name }}</p>
                        <p class="trait-description">{{ trait.description }}</p>
                        <div class="trait-details">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <p class="race-detail">
            <span class="race-detail-label">Languages:</span>
            {% for language in race.languages.all %}
                {{ language.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}
