{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/spells.css' %}">
{% endblock %}

{% block title %}
შელოცვები
{% endblock %}

{% block content %}
<div class="container spell-container">
    <h1 class="spell-title">შელოცვები</h1>
    <div class="feature">
        <div class="row">
            <div class="col-lg-12">
                <script type="text/javascript" src="http://d3g0gp89917ko0.cloudfront.net/v--b466fa696223/common--javascript/yahooui/tabview-min.js"></script>
                <div id="spell-tabview" class="yui-navset spell-tabview">
                    <ul class="yui-nav spell-nav">
                        {% for level in levels %}
                        <li class="{% if forloop.first %}selected{% endif %}">
                            <a href="javascript:;" class="spell-level-link"><em>{{ level }}</em></a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="yui-content spell-content">
                        {% for level in levels %}
                        <div class="spell-level">
                            <div class="list-pages-box spell-list">
                                <table class="wiki-content-table spell-table">
                                    <tr>
                                        <th>სახელი</th>
                                        <th>სკოლა</th>
                                        <th>შელოცვის დრო</th>
                                        <th>რადიუსი</th>
                                        <th>ხანგრძლივობა</th>
                                        <th>კომპონენტები</th>
                                    </tr>
                                    {% for spell in spells %}
                                    {% if spell.level == level %}
                                    <tr>
                                        <td><a href="{% url 'spell_detail' spell.id %}">{{ spell.name }}</a></td>
                                        <td>{{ spell.school.name }}</td>
                                        <td>{{ spell.casting_time.name }}</td>
                                        <td>{{ spell.range.name }}</td>
                                        <td>{{ spell.duration.name }}</td>
                                        <td>
                                            {% for component in spell.components.all %}
                                            {{ component.name }}
                                            {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
